@model IEnumerable<Customers>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notifications" />
<div class="container p-3">
    <p>DocNo: @ViewBag.DocNo</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    TaxNo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                     <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.TaxNo
                    </td>
                    <td>
                       
                         <a asp-controller="SalesOrdersHead" asp-action="ChooseCustomerClick" asp-route-id="@obj.Id" class="btn btn-primary">Choose</a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="SalesOrdersHead" asp-action="Create" class="btn btn-secondary">Back</a>
</div>
